# Copy this file to .env.local and set the values before deployment
# TELEGRAM_BOT_TOKEN should look like: 123456:ABCdefGhIJK_lmnopQRSTuvWxYz
TELEGRAM_BOT_TOKEN='8387215874:AAHHzWzepMPPF6_U2-YxTQH37A1J8Ok-e-E'
TELEGRAM_CHAT_ID='1706665720'
